<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.fumi.imagePicker" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ImagePicker</name>
    <js-module name="ImagePicker" src="www/ImagePicker.js">
        <clobbers target="cordova.plugins.ImagePicker"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ImagePicker">
                <param name="android-package" value="com.fumi.imagePicker.ImagePicker"/>
            </feature>

        </config-file>

        <source-file src="src/res/layout/picker_activity.xml" target-dir="res/layout" />
        <source-file src="src/res/layout/grid_item.xml" target-dir="res/layout" />
        <source-file src="src/res/drawable/black_circle.xml" target-dir="res/drawable" />
        <source-file src="src/res/drawable/check.png" target-dir="res/drawable" />
        <source-file src="src/res/drawable/multi.png" target-dir="res/drawable" />
        <source-file src="src/res/drawable/rotate.png" target-dir="res/drawable" />
        <source-file src="src/res/drawable/selector_circle.xml" target-dir="res/drawable" />
        <source-file src="src/res/drawable/snap.png" target-dir="res/drawable" />
        <source-file src="src/res/menu/action_bar.xml" target-dir="res/menu" />

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

            <activity android:name=".PickerActivity" />
            <activity android:name=".ViewerActivity" />

        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />



        <source-file src="src/android/PickerActivity.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ImagePicker.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ImagePickerBitmapLoader.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ImagePickerGridItem.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ImagePickerGridView.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ImagePickerUtil.java" target-dir="src/com/fumi/imagePicker"/>
        <source-file src="src/android/ViewerActivity.java" target-dir="src/com/fumi/imagePicker"/>
    </platform>
</plugin>
